-i https://pypi.nvidia.com
-i https://download.pytorch.org/whl/cu121
ipywidgets
jupyter-lsp
jupyterlab-lsp
python-language-server[all]
plotly
tqdm
jupyter-dash
torch~=2.2.1
torchvision
torchaudio
torchdata
torchtext
bitsandbytes
transformers
modin
