# Primary index (PyPI)
-i https://pypi.org/simple

# Additional indexes
--extra-index-url https://pypi.nvidia.com
--extra-index-url https://download.pytorch.org/whl/cu121

# Packages
ipywidgets
jupyter-lsp
jupyterlab-lsp
python-language-server[all]
plotly
tqdm
jupyter-dash
torch~=2.2.1
torchvision
torchaudio
torchdata
torchtext
bitsandbytes
transformers
modin
